#die {
  background-color: #7D00A3;
  width: 4em;
  height: 4em;
  border-radius: 0.5em;
  margin: auto;
  margin-bottom: 1em;
  justify-content: center;
}

#dieText {
  height: 100%;
  padding: 0.3em 0;
  font-size: 2em;
}

#diceContainer {
  display: flex;
  column-span: 2;
  margin: auto;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button {
  background-color: #491A57;
  color: white;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.2em;
  margin-bottom: 1em;
  width:7em;
}

table{
  border: 1px solid;
  border-color:rgb(189, 189, 189);
 
}
td{
  border: 1px solid;
  min-width: 1.2em;
   border-color:rgb(153, 153, 153);
}
table{
  margin:auto;
}
#statsTable{
  margin-bottom: 1em;
  justify-content: center;

}
#chart{
  justify-content: center;
}